a{
	color: #0f0f0f;
}
a:hover{
	text-decoration: none;
}
li{
	list-style-type: none;
}
.card{
	width: 30vh;
	/*border-radius: 1.8em;*/
	border: none;
}
.card img{
	border-radius: 2.5em;
}
.active{
	border-bottom: 2px solid #d40000;
}
.myBtn{
	padding: 0.5em 1em;
	background-color: #d40000;
	border-radius: 40px;
}
.card-body{
	/*background: url(../image/logo.jpg) no-repeat center;*/
}
.emp-contact{
	display: none;
}
.card:hover .emp-contact{
	display: flex;
	transform: translate(0, -200%);
	position: absolute;
	z-index: 1;
}
.emp-icon{
	width: 2em;
	height: 2em;
	border-radius: 50%;
	margin: 0 5px;
	background-color: #d40000;
}
/*Core values and facts---------------------------------------------------------*/
.facts{
	background: url("../image/image 17.png") fixed no-repeat center;
}
.facts-item{
	width: 30vh;
	height: 30vh;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transform: rotate(45deg);
	border-radius: 40px;
}
.facts-item-top{
	/*width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid #d40000;
	position: absolute;
	z-index: 1;*/
	/*transform: rotate(-45deg) translate(0, -115%);*/
	border-radius: 5px;
	width: 25vh;
	height: 25vh;
	background-color: #d40000;
	transform: rotate(-45deg) translate(0%, -80%);
}
.facts-item-content{
	width: 20vh;
	height: 15vh;
	/*overflow: scroll;*/
	overflow-y: scroll;
	position: absolute;
	z-index: 1;
	transform: rotate(-45deg);
	box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.facts-item-content::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.facts-item-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.facts-item-content small{
	/*font-size: 0.2em;*/
}
.facts-item-content-hidden{
	display: none;
}
/*.facts-item:hover .facts-item-content{
	display: none;
}
.facts-item:hover .facts-item-content-hidden{
	display: flex;
}*/